

.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/PyLite.iml
.idea/vcs.xml
.idea/workspace.xml
src/CodeEditingField/__pycache__/__init__.cpython-37.pyc
src/CodeEditingField/__pycache__/CodeEditingField.cpython-37.pyc
src/CodeEditingField/__pycache__/CodeEditingLayout.cpython-37.pyc
src/TaskBar/__pycache__/__init__.cpython-37.pyc
src/TaskBar/__pycache__/TaskBarLayout.cpython-37.pyc
*.xml
*.iml
*.pyc
